@charset "UTF-8";

/* ==== CUSTOM UI ELEMENTS AND STYLES ====*/
/* ========================
INCLUDE STYLES AND COMPONENTS
===================== */


/* ================== Header =================== */
.header {
  position: fixed;
  top: 5%;
  left: 5%;
  z-index: 1000;
}

.logo {
  height: 124px;
  width: 223px;
}

.header-logo {
  height: 50px;
  width: 100px;
}

.header__nav {
  font-size: 12px;
}

.nav__list {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

.nav__item {
  margin-right: 40px;
  margin-top: 10px;

}

.nav__link:hover {
  text-decoration: underline;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #e2e8e8;
  font-weight: 600;
}

.nav__link {
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #e2e8e8;
  font-weight: 600;
}

#product-container {
  /* width: 100%;  */
}

.product-container__box {
  display: flex;
  flex-wrap: wrap;
}

.product-container__link {
  display: block;

  width: 33.33%;
}

.product-container__img {
  width: 100%;
  height: 100%;
}

.product-container__img:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px #000;
}

#footer {
  width: 100%;
  background-color: #231f20;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  padding: 20px 50px;
}

.footer__list {
  width: 30%;
  list-style: none;
}

.footer__item+.footer__item {
  margin-top: 10px;
}

.footer__logo {
  margin: 0 auto;
  text-align: center;
}

.footer__logo_text {
  margin-bottom: 15px;
  font-size: 12px;
}

.footer__contact {}

.contact__list {
  list-style: none;
  display: flex;
}

.contact__item+.contact__item {
  margin-left: 40px;
}

.contact__link {
  text-decoration: none;
  color: #e2e8e8;
}

.contact__link:hover {
  color: #23527c;
}

.footer__phone:hover {
  cursor: pointer;
  color: #23527c;
}

.footer-shortcuts {
  position: fixed;
  bottom: 5vh;
  right: 2vw;
  display: flex;
  flex-direction: column;

}

.footer-shortcuts__homepage {
  font-size: 30px;
}

.footer-shortcuts__msg {
  font-size: 50px;
}

.footer-shortcuts__box {
  width: 50px;
  height: 50px;
  background-color: black;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-shortcuts__box+.footer-shortcuts__box {
  margin-top: 40px;
}

.main-header {
  padding-left: 3%;
  padding-right: 3%;
  min-height: 72px;
  background-color: #064635;
  border-bottom: 1px solid rgba(108, 117, 125, 0.25);
}

.main-header .nav {
  align-items: center;
}


.sidebar-nav {
  z-index: 1000;
  position: fixed;
  top: 30px;
  left: 50px;
  right: 50px;
  display: inline-block;
  height: 0;
  width: 0;
}

.side-bar-top__menu {
  display: flex;
  justify-content: space-between;
  width: 92vw;

}

.sidebar-nav__list {
  display: flex;
  list-style: none;
}

.sidebar-nav__list a:hover {
  text-decoration: none;
  color: #23527c;
}

.sidebar-nav__item {}

.sidebar-nav__icon {
  margin: 0 10px;
  color: #231f20;
}

.sidebar-nav__item+.nav__item {
  margin-left: 40px;
}

.sidebar-nav__link {
  font-size: 14px;
  text-decoration: none;
  color: #353031;
  font-weight: bold;
}

.sidebar-nav-sub__link {
  font-size: 13px;
  text-decoration: none;
  color: #413d3d;
  font-weight: normal;
}

.sidebar-slide__list {
  margin-top: 20px;
}

.sidebar-slide__menu {
  display: inline-block;

}

.sidebar-slide__menu ul {

  width: 20vw;
  max-height: 70vh;
  overflow: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.sidebar-slide__menu ul::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.sidebar-sub__menu {
  opacity: 0.6;
}

.sidebar-slide__menu li {
  margin: 5px 0;
}

.sidebar-slide__menu ul+li {
  margin-top: 25px;

}

.sidebar-slide__menu a:hover {
  font-size: 16px;
  cursor: pointer;
  color: #23527c;
  text-decoration: none;
}

#product-container {
  width: 65vw;
  margin: 15.5vh 10vw 20px 25vw;
}

/* product */
.container__product {
  display: flex;
}

.product__link {
  width: 50%;
}

.product__img {
  width: 100%;

}

.product__content {
  margin-left: 40px;
  width: 50%;
}

.product__content h3+h3 {
  margin-top: 20px;
}

.product__content h3+ul {
  margin-top: 5px;
}

.product__list ul+h3 {
  margin-top: 20px;
}

.product__list h3+ul {
  margin-left: 30px;
}

.product__content h3 {
  opacity: 0.6;
}

.product__content li {
  opacity: 0.6;
}

.product__content a:hover {
  text-decoration: underline;
}

.product__name {
  font-size: 16px;
  margin-bottom: 10px;
  color: #231f20;
  font-weight: bold;
}

.product__money {
  font-size: 16px;
  color: #231f20;
  font-weight: normal;
}

.product__intro {
  font-size: 15px;
  color: #231f20;
  font-weight: normal;
}

.product__options {
  width: 80%;
}

.product__limit {
  margin-top: 20px;
  font-size: 15px;
  color: #231f20;
  font-weight: bold;
}

.product-options__title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.product-options__size {
  font-size: 15px;
  color: #231f20;
  font-weight: normal;
  text-decoration: underline;
}

.product-options__size:hover {
  cursor: pointer;
}

#product-option {
  font-size: 15px;
  color: #231f20;
  font-weight: normal;
}

select[name="option"] {
  font-size: 16px;
  border: 2px solid #565354;
  padding: 5px 25px 5px 10px;
  border-radius: 2px;
  margin-bottom: 20px;

}

.size-option {
  font-size: 15px;
  color: #231f20;
  font-weight: normal;
}

.product-options__form {
  display: flex;
  flex-direction: column;

}

.product-options__button {
  height: 35px;
  text-align: start;
  padding: 0 8px;
  font-size: 14px;
  color: #fff;
  background-color: #231f20;
  margin-bottom: 10px;
}

.product-options__button:hover {
  opacity: 0.85;
  cursor: pointer;
}

.product-suggest__title {
  margin: 100px 0;
  font-size: 16px;
  color: #231f20;
  font-weight: bold;
}

.product-product__box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.product-container___img {
  width: 100%;
}

.product-container___link:hover {
  text-decoration: none;
  transform: scale(1.03);
  box-shadow: 0 0 15px #000;
}

.product-container___link {
  text-decoration: none;
  margin-bottom: 100px;
  width: 30%;
}

.product-container___text {
  text-align: center;
  font-weight: 900;
  margin: 20px 0;
}

.product-text___name {
  font-size: 15px;
  word-wrap: break-word;
  color: #231f20;
  font-weight: bold;

}

.product-text___name:hover {
  cursor: pointer;
  color: #23527c;
}

.product-text__money {
  font-size: 14px;
  word-wrap: break-word;
  color: #231f20;
  font-weight: bold;

}

.product-text__money:hover {
  cursor: pointer;
  color: #23527c;
}

.product-sale__money {
  text-decoration: line-through;
  font-size: 14px;
  word-wrap: break-word;
  color: #231f20;
  font-weight: bold;
}

.product-sale__money:hover {
  cursor: pointer;
  color: #23527c;
}

.product-text__sale {
  font-size: 14px;
  word-wrap: break-word;
  color: #353031;
  font-weight: normal;
}

.product-text__sale:hover {
  cursor: pointer;
  color: #23527c;
}

.product-model {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: hsla(0, 0%, 100%, .75);
  overflow-y: scroll;
  z-index: 9999;

}

.product-model__on {
  display: block;
}

.product-model__container {
  display: inline-block;
  margin: 5% 25%;
  border-radius: 20px;
  box-shadow: 0 0 20px #000;
  padding: 10px;
  background-color: #fff;
}

.product-model__title {

  padding: 40px 40px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom: 2px solid #d5d2d2;
}

.product-model__title i,
h1 {
  font-size: 25px;
}

.product-model__title i:hover {
  cursor: pointer;
}

.product-model__img {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: inline-block;
}


.container__news {
  padding: 15vh 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.news__item {
  text-decoration: none;
  width: 45%;
  cursor: pointer;
}

.news__item:hover {
  text-decoration: none;
  transform: scale(1.1);
  box-shadow: 0 0 10px #000;
}

.news__item h3 {
  font-size: 16px;
  font-weight: bold;
  color: #353031;
}

.news__img {  
  width: 100%;
}

.news__content {
  padding-bottom: 30px;
  padding-left: 10px;
  background-color: #fff;

}

.news__item h3[class="news__name"] {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 600;
}

.news__readmore{
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  color: #353031;
}

.shopping-cart{
  width: 30vw;
  margin: 10vw 10vw 20px 40vw;
}

.cart__product{
  height: 12%;
  display: flex;
  padding-bottom: 40px;
  border-bottom: 2px solid #c8c4c4;
  margin-bottom: 40px;
}
.cart-product__img{
  width: 20%;
}
.cart-product__content{
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 0 10px;
}
.cart-product__name{
  word-wrap: break-word;
  font-size: 16px;
  color: #231f20;
}
.cart-product__name:hover{
  cursor:pointer;
  color: #23527c;
}
.cart-product__info{
  display: flex;

  justify-content: space-around;
}
.cart-product__info div{
  font-size: 18px;
}
.cart-product__total span{
  font-size: 18px;
  color: #231f20;
}
.cart-product__total span:hover{
  font-size: 20px;
  cursor: pointer;
  color: #23527c;
}
.total{
  padding:0 8px;
  border-radius: 5px;
  margin: 0 5px;
  border: 1px solid #231f20;
}

.cart-product__delete{
  font-size: 18px;
  color: #231f20;
}

.cart-product__delete:hover{
  cursor:pointer;
  color: #23527c;
  text-decoration: none;
}
.cart-product__price{
  font-size: 18px;
  color: #231f20;
}
.cart-product__totalprice{
  font-size: 18px;
  transform: translateY(-20%);
  font-weight: 700;
  color: #231f20;
}

.cart__totalprice{
  font-size: 18px;
  transform: translateY(-20%);
  font-weight: 700;
  color: #231f20;
}
.cart__pay{
  padding: 20px;
  
}
.cart-pay__title{
  color: #231f20;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
 
}
.cart-pay__total{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  
}
.cart-pay__total h3{
  font-size: 18px;
  color: #231f20;
}
.cart__checkout{
  text-decoration: none;
  text-align: center;
  display: block;
  width: 100%;
  padding: 20px 0;
  color: #fff;
  background-color: #000;
  font-size: 18px;
}
.cart__checkout:hover{
  opacity: 0.8;
  color: #fff;
}