.grid{
    width: 100%; 
    height: 120vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e2e8e8;
    font-weight: 600;
    box-sizing: border-box;
}